.card-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-bottom: 20px; 
  }
  
  .card {
    width: 300px;
    border: 1px solid #0f0d0d;
    padding: 15px;
    margin: 10px;
    text-align: center;
  }
  
  .card img {
    max-width: 100%;
    height: auto;
  }
